@import url('https://fonts.cdnfonts.com/css/public-pixel');

body {
  margin: 0;
  padding: 0;
  --font-supply-mono: "__supplyMono_7b66fd","__supplyMono_Fallback_7b66fd",ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --grey-bg: rgb(43, 43, 43);
  font-family: 'Public Pixel', sans-serif;
  color: rgb(59, 59, 59);
    background-color: black;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
    word-spacing: 0.1px;
    
  }
.container {
    display: flex;
    height: 100vh; /* Full screen height */
    width: 100vw; /* Full screen width */
    position: absolute;
    top: 0;
  }
  
  .red, .blue {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease;
  }
  
  .red {
    display: flex;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgb(243 66 66/var(--tw-bg-opacity));
    border-right: 4px solid var(--grey-bg)
  }
  
  .blue {
    display: flex;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgb(66 66 243/var(--tw-bg-opacity));
    border-left: 4px solid var(--grey-bg)
  }
  
  .timer {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    background-color: var(--grey-bg);
    transition: left 0.5s ease;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 50%;
    height: 170px;
    width: 170px;
    padding: 30px;
  }

.button {
  font-family: 'Public Pixel', sans-serif;

  padding: 1px 9px;
  --font-supply-mono: "__supplyMono_7b66fd","__supplyMono_Fallback_7b66fd",ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --grey-bg: rgb(43, 43, 43);
    color: white;
    border: 0;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
;   justify-content: space-between;;
font-weight: 900;
gap: 10px;
border-radius: 2px;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
cursor: pointer;

}

p {
  font-size: 0.7rem;
  font-weight: bolder;
  word-spacing: 0.05px;
  letter-spacing: 0.05px;
}

@keyframes radiate {
  0% {
    filter: url(#glow);
    transform: scale(1);
  }
  50% {
    filter: url(#glow);
    transform: scale(1.005);
    background-color: rgb(255, 255, 255);
  }
  100% {
    filter: url(#glow);
    transform: scale(1);
  }
}

.radiating-segment {
  animation: radiate 2s infinite ease-in-out;
}

.wave-animation {
  animation: radiate-wave 1s infinite ease-in-out;
}

@keyframes radiate-wave {
  0%, 100% {
  }
  50% {
    stop-opacity: 0.7;
  }
}



a {
  color: white;
  font-size: smaller;
}

  